In [1]:
# Import Libraries
import os
os.getcwd()

'c:\\Users\\marci\\dev\\DAFT_0116_OTALORAMarcia\\module_2\\Lab_5_ Pivot-Tables-and-Crosstab'

In [24]:
import numpy as np
import pandas as pd

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [25]:
df = pd.read_csv("data/movie_metadata.csv")
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [26]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### 2. Use crosstabs to show the number of moovies per country

In [28]:
pd.crosstab(df.country,df.movie_title)

movie_title,#Horror,10 Cloverfield Lane,10 Days in a Madhouse,10 Things I Hate About You,102 Dalmatians,10th & Wolf,11:14,12 Angry Men,12 Monkeys,12 Rounds,...,Zoolander 2,Zoolander,Zoom,Zulu,[Rec] 2,[Rec],eXistenZ,xXx: State of the Union,xXx,Æon Flux
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Argentina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Aruba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bahamas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Turkey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
UK,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
USA,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,0,0,0,1,1,1
United Arab Emirates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
West Germany,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
#pd.crosstab(df.country,df.color, values = df.movie_title, aggfunc=np.count_nonzero, margins=True,margins_name="Total").iloc[:,[ -1]].sort_values("Total", ascending=False)
pd.crosstab(df.country,df.movie_title,margins=True,margins_name="Total").iloc[:,[ -1]].sort_values("Total", ascending=False) #By default is COUNT!

movie_title    Total
country
Total           5038
USA             3807
UK               448
France           154
Canada           126
...              ...
Libya              1
New Line           1
Nigeria            1
Official site      1
Kenya              1

[66 rows x 1 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [33]:
pd.crosstab(df.director_name, [df.country,df.genres], margins=True, margins_name="Total")

country            Afghanistan            Argentina        \
genres                   Drama Crime|Drama|Thriller Drama
director_name
A. Raven Cruz                0                    0     0
Aaron Hann                   0                    0     0
Aaron Schneider              0                    0     0
Aaron Seltzer                0                    0     0
Abel Ferrara                 0                    0     0
...                        ...                  ...   ...
Álex de la Iglesia           0                    0     0
Émile Gaudreault             0                    0     0
Éric Tessier                 0                    0     0
Étienne Faure                0                    0     0
Total                        1                    1     2

country                                                    Aruba  \
genres             Drama|Mystery|Thriller Action|Comedy|Thriller
director_name
A. Raven Cruz                           0                      0
Aaron Hann                              0                      0
Aaron Schneider                         0                      0
Aaron Seltzer                           0                      0
Abel Ferrara                            0                      0
...                                   ...                    ...
Álex de la Iglesia                      0                      0
Émile Gaudreault                        0                      0
Éric Tessier                            0                      0
Étienne Faure                           0                      0
Total                                   1                      1

country                                                   Australia  \
genres             Action|Adventure|Animation|Comedy|Family|Fantasy
director_name
A. Raven Cruz                                                     0
Aaron Hann                                                        0
Aaron Schneider                                                   0
Aaron Seltzer                                                     0
Abel Ferrara                                                      0
...                                                             ...
Álex de la Iglesia                                                0
Émile Gaudreault                                                  0
Éric Tessier                                                      0
Étienne Faure                                                     0
Total                                                             1

country                                                                    \
genres             Action|Adventure|Comedy Action|Adventure|Comedy|Family
director_name
A. Raven Cruz                            0                              0
Aaron Hann                               0                              0
Aaron Schneider                          0                              0
Aaron Seltzer                            0                              0
Abel Ferrara                             0                              0
...                                    ...                            ...
Álex de la Iglesia                       0                              0
Émile Gaudreault                         0                              0
Éric Tessier                             0                              0
Étienne Faure                            0                              0
Total                                    1                              1

country                                             \
genres             Action|Adventure|Comedy|Fantasy
director_name
A. Raven Cruz                                    0
Aaron Hann                                       0
Aaron Schneider                                  0
Aaron Seltzer                                    0
Abel Ferrara                                     0
...                                            ...
Álex de la Iglesia                               0
Émile Gaudreault                                 0
Éric Tessier                                     0
Étienne Faure                                    0
Total                                            1

country                                                    ...    USA  \
genres             Action|Adventure|Drama|Romance|Western  ... Sci-Fi
director_name                                              ...
A. Raven Cruz                                           0  ...      0
Aaron Hann                                              0  ...      0
Aaron Schneider                                         0  ...      0
Aaron Seltzer                                           0  ...      0
Abel Ferrara                                            0  ...      0
...                                                   ...  ...    ...
Álex de la Iglesia                                      0  ...      0
Émile Gaudreault                                        0  ...      0
Éric Tessier                                            0  ...      0
Étienne Faure                                           0  ...      0
Total                                                   1  ...      2

country                                                               \
genres             Sci-Fi|Thriller Thriller Thriller|Western Western
director_name
A. Raven Cruz                    0        0                0       0
Aaron Hann                       0        0                0       0
Aaron Schneider                  0        0                0       0
Aaron Seltzer                    0        0                0       0
Abel Ferrara                     0        0                0       0
...                            ...      ...              ...     ...
Álex de la Iglesia               0        0                0       0
Émile Gaudreault                 0        0                0       0
Éric Tessier                     0        0                0       0
Étienne Faure                    0        0                0       0
Total                            9       12                1       7

country            United Arab Emirates                   West Germany  \
genres               Documentary|Family Adventure|Drama|Family|Fantasy
director_name
A. Raven Cruz                         0                              0
Aaron Hann                            0                              0
Aaron Schneider                       0                              0
Aaron Seltzer                         0                              0
Abel Ferrara                          0                              0
...                                 ...                            ...
Álex de la Iglesia                    0                              0
Émile Gaudreault                      0                              0
Éric Tessier                          0                              0
Étienne Faure                         0                              0
Total                                 1                              1

country                                                        Total
genres             Adventure|Drama|Thriller|War Horror|Mystery
director_name
A. Raven Cruz                                 0              0     1
Aaron Hann                                    0              0     1
Aaron Schneider                               0              0     1
Aaron Seltzer                                 0              0     1
Abel Ferrara                                  0              0     1
...                                         ...            ...   ...
Álex de la Iglesia                            0              0     1
Émile Gaudreault                              0              0     1
Éric Tessier                                  0              0     1
Étienne Faure                                 0              0     1
Total                                         1              1  4936

[2396 rows x 1549 columns]

### 4. Average duration of filmes grouped by color

In [36]:
pd.crosstab(df.genres, df.color, values=df.duration, aggfunc=np.mean)

color,Black and White,Color
genres,,
Action,111.0,107.444444
Action|Adventure,NaN,112.636364
Action|Adventure|Animation|Comedy|Crime|Family|Fantasy,NaN,95.000000
Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi,NaN,96.000000
Action|Adventure|Animation|Comedy|Family,NaN,91.500000
...,...,...
Sci-Fi|Thriller,NaN,104.700000
Thriller,NaN,103.350000
Thriller|War,133.0,NaN
Thriller|Western,85.0,NaN
Western,NaN,106.000000

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [39]:
#'actor_3_facebook_likes'
#'actor_1_facebook_likes'
#'actor_2_facebook_likes'
df["new_director_nlikes"] = df.actor_1_facebook_likes+df.actor_2_facebook_likes+df.actor_3_facebook_likes
pd.crosstab(df.director_name, df.new_director_nlikes, values=df.new_director_nlikes, aggfunc=np.nanmean, margins=True,margins_name="Total").loc[:,["Total"]]

new_director_nlikes         Total
director_name
A. Raven Cruz         1094.000000
Aaron Hann             406.000000
Aaron Schneider      16970.000000
Aaron Seltzer         4598.000000
Abel Ferrara          2198.000000
...                           ...
Álex de la Iglesia     702.000000
Émile Gaudreault       917.000000
Éric Tessier            72.000000
Étienne Faure           19.000000
Total                 9012.978857

[2386 rows x 1 columns]